.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-btn.svg);
  border: none;
  opacity: 40%;
  background-color: transparent;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-btn-preview {
  background-image: url(../images/Close-btn-preview.svg);
  top: -12px;
  right: -42px;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  padding: 16px 12px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  border-radius: 8px;
}

.modal__input:hover {
  cursor: pointer;
  opacity: 70%;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
}

.modal__content {
  top: 81px;
  position: absolute;
  padding: 0 8px 0;
  max-width: 50vh;
}

.modal__image {
  width: 100%;
  max-width: 80vh;
  max-height: 80vh;
  object-fit: contain;
  padding: 0 0 8px;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background-color: #212121;
  width: 214px;
  border-radius: 8px;
  padding: 4px 8px 4px;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 300px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .modal__title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    width: fit-content;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__content {
    max-width: 100%;
    position: absolute;
    top: 206px;
    padding: 0 16px 0;
  }

  .modal__image {
    transform: scale(1, 1.2);
    max-height: 60vh;
    width: 280px;
    padding-bottom: 32px;
    margin-bottom: 8px;
  }

  .modal__close-btn-preview {
    top: -50px;
    z-index: 1;
    position: absolute;
  }

  .modal__caption {
    position: absolute;
    font-size: 16px;
    line-height: 19px;
  }
}
